/* PHASE 7: Online */

.online {
  position: absolute;
  top: 12px;
  left: -30px;
  padding: 5px 30px;
  background-color: limegreen;
  color: white;
  transform: rotate(.885turn);
  letter-spacing: 2px;
  font-size: 11px;
  box-shadow: 0px 1px 2px green;
  font-weight: bold;
}

.profile-picture {
  overflow: hidden;
}